{% extends "base.html" %}
{% block content %}

        <section class="hero-area">
	        <div class="container">
	            <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="/static/images/wine.jpg" alt="">
                    </div>
	                <div class="col-md-6">
	                    <div class="block">
	                        <h1 class="">Wine is bottled poetry</h1>
	                        <p>нередко случается, что заходишь в магазин за пойлом, глаза разбегаются, а в кармане две сотки. не изабеллой же в конце концов из пакета давиться!
никакой рекламы и пропаганды, только личные мнения и практические советы, готовы выслушать любого

клуб людей, которые знают как организовать свой досуг и готовы поделиться своим опытом с каждым</p>
	                    </div>
	                </div>
	            </div><!-- .row close -->
	        </div><!-- .container close -->
	    </section><!-- header close -->


{% endblock %}