{% extends "base.html" %}

{% block content %}
        <section class="hero-area">
	        <div class="container">
	            <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="/static/images/login.jpg" alt="">
                    </div>
                    <div class="col-md-6">
	                    <div class="block">
	                        <h1 class="">Рады видеть Вас!</h1>
	                        <p>Пожалйста, войдите в аккаунт!</p>
	                    </div>
                            <div class="container">
                                {% if reg_error %}
                                <h3>{{reg_error}}</h3>
                                {% endif %}
                                 <div class="row">
                                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form method="POST" class="form-group">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="inputEmail">Email Address</label>
                            <input id="inputEmail" name="inputEmail" type="email" class="form-control" placeholder="Email" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="inputPassword">Password</label>
                            <input id="inputPassword" name="inputPassword" type="password" class="form-control" placeholder="Password"  required data-validation-required-message="Please enter password">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <label class="checkbox">
                        <input type="checkbox" id="remember-me" name="remember-me" value="remember-me"> Remember me
                    </label>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Log in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
	                </div>
	            </div><!-- .row close -->
	        </div><!-- .container close -->
	    </section><!-- header close -->



{% endblock %}